---
// File: src/pages/index.astro
import "../Styles/global.css";
import { Image } from "astro:assets";
import imagen_isaac from "../ASSETS/Isaac_Image.jpg";
import Timeline from "../components/TimeLine.astro";
import Button from "../components/button.astro";

/*
interface Item {
  dateRange: string;
  title: string;
  link?: string;
  description: string;
  button_show?: boolean;
  work?: boolean;
  study?: boolean;
}
*/

const timelineItems = [
  {
    dateRange: "1 Julio 2024 - Actualidad",
    title: "Clases de Programaci칩n.",
    link: "https://www.tusclases.com/",
    description:
      "Clases particulares de programaci칩n, especializadas en pseudoc칩digo, diagramas de flujo, C/C++ y el curso de Desarrollo de Aplicaciones Multiplataforma (DAM), enfocadas en Java, Bases de Datos y lenguajes de marcas.",
    work: true,
  },

  {
    dateRange: "08 Septiembre 2023 - Actualidad",
    title: "Grado en Administraci칩n de sistemas inform치ticos en red.",
    link: "https://site.educa.madrid.org/ies.jovellanos.fuenlabrada/",
    description:
      "Cursando el Grado Superior en Administraci칩n de Sistemas Inform치ticos en Red en la siguiente direcci칩n:Calle M칩stoles, 64, 28941 Fuenlabrada, Madrid.",
    study: true,
  },

  {
    dateRange: "1 Julio 2024 - 30 Junio 2024",
    title: "Conserjer칤a en una finca.",
    description:
      "Vigilancia y preservaci칩n de una finca de edificios ubicada en la calle: Avenida Ocho de Marzo, 9, Fuenlabrada. Entre las principales responsabilidades se incluyen la seguridad y el control de accesos al edificio, mantenimiento general, supervisi칩n del estado de las instalaciones, y limpieza de 치reas comunes. Tambi칠n se realizar치n tareas como el cambio de cerraduras, reparaciones menores, control de sistemas de iluminaci칩n, y monitoreo de equipos de seguridad (c치maras, alarmas).",
    work: true,
  },
  {
    dateRange: "5 Junio 2024 - 30 Junio 2024",
    title: "Mantenimiento de Piscinas.",
    link: "https://aquavic.es/",
    description:
      "Mantenimiento b치sico de piscinas: limpieza, control de cloro y pH, y peque침as reparaciones. Servicio en piscinas distribuidas en Madrid, en particular para 5 piscinas situadas en Gri침칩n, Humanes y Fuenlabrada.",
    work: true,
  },
  {
    dateRange: "08 septiembre 2021 - 21	junio 2023",
    title: "Bachillerato de Ciencias y Tecnolog칤a.",
    link: "https://site.educa.madrid.org/ies.carpediem.fuenlabrada/",
    description:
      "Bachillerato completado en el instituto Carpe Diem ubicado en: Av. de Nuevo Versalles, 6, 28942 Fuenlabrada, Madrid ",
    study: true,
  },
];

/*
interface Item {
    title: string;
    bgColor: string; // Color de fondo din치mico
    hoverColor: string; // Color de fondo al pasar el cursor
    TextColor: string; // Color del texto
    hoverIconColorandText: string; // Color del 칤cono al pasar el cursor
    svgPath?: string;
    img?: string;
}
*/

const buttonItems = [
  {
    title: "HTML",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#c9221c",
    hoverIconColorandText: "#000",
    svgPath:
      "M9.032 2l10.005 112.093 44.896 12.401 45.02-12.387L118.968 2H9.032zm89.126 26.539l-.627 7.172L97.255 39H44.59l1.257 14h50.156l-.336 3.471-3.233 36.119-.238 2.27L64 102.609v.002l-.034.018-28.177-7.423L33.876 74h13.815l.979 10.919L63.957 89H64v-.546l15.355-3.875L80.959 67H33.261l-3.383-38.117L29.549 25h68.939l-.33 3.539z",
    category: "Desarrollo web",
  },
  {
    title: "CSS",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#3563b8",
    hoverIconColorandText: "#000",
    svgPath:
      "M8.76 1l10.055 112.883 45.118 12.58 45.244-12.626L119.24 1H8.76zm89.591 25.862l-3.347 37.605.01.203-.014.467v-.004l-2.378 26.294-.262 2.336L64 101.607v.001l-.022.019-28.311-7.888L33.75 72h13.883l.985 11.054 15.386 4.17-.004.008v-.002l15.443-4.229L81.075 65H48.792l-.277-3.043-.631-7.129L47.553 51h34.749l1.264-14H30.64l-.277-3.041-.63-7.131L29.401 23h69.281l-.331 3.862z",
    category: "Desarrollo web",
  },
  {
    title: "JavaScript",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#968a0f",
    hoverIconColorandText: "#000",
    svgPath:
      "M2 1v125h125V1H2zm66.119 106.513c-1.845 3.749-5.367 6.212-9.448 7.401-6.271 1.44-12.269.619-16.731-2.059-2.986-1.832-5.318-4.652-6.901-7.901l9.52-5.83c.083.035.333.487.667 1.071 1.214 2.034 2.261 3.474 4.319 4.485 2.022.69 6.461 1.131 8.175-2.427 1.047-1.81.714-7.628.714-14.065C58.433 78.073 58.48 68 58.48 58h11.709c0 11 .06 21.418 0 32.152.025 6.58.596 12.446-2.07 17.361zm48.574-3.308c-4.07 13.922-26.762 14.374-35.83 5.176-1.916-2.165-3.117-3.296-4.26-5.795 4.819-2.772 4.819-2.772 9.508-5.485 2.547 3.915 4.902 6.068 9.139 6.949 5.748.702 11.531-1.273 10.234-7.378-1.333-4.986-11.77-6.199-18.873-11.531-7.211-4.843-8.901-16.611-2.975-23.335 1.975-2.487 5.343-4.343 8.877-5.235l3.688-.477c7.081-.143 11.507 1.727 14.756 5.355.904.916 1.642 1.904 3.022 4.045-3.772 2.404-3.76 2.381-9.163 5.879-1.154-2.486-3.069-4.046-5.093-4.724-3.142-.952-7.104.083-7.926 3.403-.285 1.023-.226 1.975.227 3.665 1.273 2.903 5.545 4.165 9.377 5.926 11.031 4.474 14.756 9.271 15.672 14.981.882 4.916-.213 8.105-.38 8.581z",
    category: "Desarrollo web",
  },
  {
    title: "XML",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#2b8050",
    hoverIconColorandText: "#000",
    img: "/XML_ICON.png",
    category: "Desarrollo web",
  },
  {
    title: "Tailwind",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#3485a8",
    hoverIconColorandText: "#000",
    svgPath:
      "M64.004 25.602c-17.067 0-27.73 8.53-32 25.597 6.398-8.531 13.867-11.73 22.398-9.597 4.871 1.214 8.352 4.746 12.207 8.66C72.883 56.629 80.145 64 96.004 64c17.066 0 27.73-8.531 32-25.602-6.399 8.536-13.867 11.735-22.399 9.602-4.87-1.215-8.347-4.746-12.207-8.66-6.27-6.367-13.53-13.738-29.394-13.738zM32.004 64c-17.066 0-27.73 8.531-32 25.602C6.402 81.066 13.87 77.867 22.402 80c4.871 1.215 8.352 4.746 12.207 8.66 6.274 6.367 13.536 13.738 29.395 13.738 17.066 0 27.73-8.53 32-25.597-6.399 8.531-13.867 11.73-22.399 9.597-4.87-1.214-8.347-4.746-12.207-8.66C55.128 71.371 47.868 64 32.004 64zm0 0",
    category: "Desarrollo web",
  },
  {
    title: "Python",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#306998",
    hoverIconColorandText: "#000",
    svgPath:
      "M49.33 62h29.159C86.606 62 93 55.132 93 46.981V19.183c0-7.912-6.632-13.856-14.555-15.176-5.014-.835-10.195-1.215-15.187-1.191-4.99.023-9.612.448-13.805 1.191C37.098 6.188 35 10.758 35 19.183V30h29v4H23.776c-8.484 0-15.914 5.108-18.237 14.811-2.681 11.12-2.8 17.919 0 29.53C7.614 86.983 12.569 93 21.054 93H31V79.952C31 70.315 39.428 62 49.33 62zm-1.838-39.11c-3.026 0-5.478-2.479-5.478-5.545 0-3.079 2.451-5.581 5.478-5.581 3.015 0 5.479 2.502 5.479 5.581-.001 3.066-2.465 5.545-5.479 5.545zm74.789 25.921C120.183 40.363 116.178 34 107.682 34H97v12.981C97 57.031 88.206 65 78.489 65H49.33C41.342 65 35 72.326 35 80.326v27.8c0 7.91 6.745 12.564 14.462 14.834 9.242 2.717 17.994 3.208 29.051 0C85.862 120.831 93 116.549 93 108.126V97H64v-4h43.682c8.484 0 11.647-5.776 14.599-14.66 3.047-9.145 2.916-17.799 0-29.529zm-41.955 55.606c3.027 0 5.479 2.479 5.479 5.547 0 3.076-2.451 5.579-5.479 5.579-3.015 0-5.478-2.502-5.478-5.579 0-3.068 2.463-5.547 5.478-5.547z",
    category: "Programaci칩n",
  },
  {
    title: "Java",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#c77620",
    hoverIconColorandText: "#000",
    svgPath:
      "M47.617 98.12c-19.192 5.362 11.677 16.439 36.115 5.969-4.003-1.556-6.874-3.351-6.874-3.351-10.897 2.06-15.952 2.222-25.844 1.092-8.164-.935-3.397-3.71-3.397-3.71zm33.189-10.46c-14.444 2.779-22.787 2.69-33.354 1.6-8.171-.845-2.822-4.805-2.822-4.805-21.137 7.016 11.767 14.977 41.309 6.336-3.14-1.106-5.133-3.131-5.133-3.131zm11.319-60.575c.001 0-42.731 10.669-22.323 34.187 6.024 6.935-1.58 13.17-1.58 13.17s15.289-7.891 8.269-17.777c-6.559-9.215-11.587-13.793 15.634-29.58zm9.998 81.144s3.529 2.91-3.888 5.159c-14.102 4.272-58.706 5.56-71.095.171-4.45-1.938 3.899-4.625 6.526-5.192 2.739-.593 4.303-.485 4.303-.485-4.952-3.487-32.013 6.85-13.742 9.815 49.821 8.076 90.817-3.637 77.896-9.468zM85 77.896c2.395-1.634 5.703-3.053 5.703-3.053s-9.424 1.685-18.813 2.474c-11.494.964-23.823 1.154-30.012.326-14.652-1.959 8.033-7.348 8.033-7.348s-8.812-.596-19.644 4.644C17.455 81.134 61.958 83.958 85 77.896zm5.609 15.145c-.108.29-.468.616-.468.616 31.273-8.221 19.775-28.979 4.822-23.725-1.312.464-2 1.543-2 1.543s.829-.334 2.678-.72c7.559-1.575 18.389 10.119-5.032 22.286zM64.181 70.069c-4.614-10.429-20.26-19.553.007-35.559C89.459 14.563 76.492 1.587 76.492 1.587c5.23 20.608-18.451 26.833-26.999 39.667-5.821 8.745 2.857 18.142 14.688 28.815zm27.274 51.748c-19.187 3.612-42.854 3.191-56.887.874 0 0 2.874 2.38 17.646 3.331 22.476 1.437 57-.8 57.816-11.436.001 0-1.57 4.032-18.575 7.231z",
    category: "Programaci칩n",
  },

  {
    title: "Linux",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#000000",
    hoverIconColorandText: "#000",
    svgPath:
      "M113.823 104.595c-1.795-1.478-3.629-2.921-5.308-4.525-1.87-1.785-3.045-3.944-2.789-6.678.147-1.573-.216-2.926-2.113-3.452.446-1.154.864-1.928 1.033-2.753.188-.92.178-1.887.204-2.834.264-9.96-3.334-18.691-8.663-26.835-2.454-3.748-5.017-7.429-7.633-11.066-4.092-5.688-5.559-12.078-5.633-18.981a47.564 47.564 0 00-1.081-9.475C80.527 11.956 77.291 7.233 71.422 4.7c-4.497-1.942-9.152-2.327-13.901-1.084-6.901 1.805-11.074 6.934-10.996 14.088.074 6.885.417 13.779.922 20.648.288 3.893-.312 7.252-2.895 10.34-2.484 2.969-4.706 6.172-6.858 9.397-1.229 1.844-2.317 3.853-3.077 5.931-2.07 5.663-3.973 11.373-7.276 16.5-1.224 1.9-1.363 4.026-.494 6.199.225.563.363 1.429.089 1.882-2.354 3.907-5.011 7.345-10.066 8.095-3.976.591-4.172 1.314-4.051 5.413.1 3.337.061 6.705-.28 10.021-.363 3.555.008 4.521 3.442 5.373 7.924 1.968 15.913 3.647 23.492 6.854 3.227 1.365 6.465.891 9.064-1.763 2.713-2.771 6.141-3.855 9.844-3.859 6.285-.005 12.572.298 18.86.369 1.702.02 2.679.653 3.364 2.199.84 1.893 2.26 3.284 4.445 3.526 4.193.462 8.013-.16 11.19-3.359 3.918-3.948 8.436-7.066 13.615-9.227 1.482-.619 2.878-1.592 4.103-2.648 2.231-1.922 2.113-3.146-.135-5zM62.426 24.12c.758-2.601 2.537-4.289 5.243-4.801 2.276-.43 4.203.688 5.639 3.246 1.546 2.758 2.054 5.64.734 8.658-1.083 2.474-1.591 2.707-4.123 1.868-.474-.157-.937-.343-1.777-.652.708-.594 1.154-1.035 1.664-1.382 1.134-.772 1.452-1.858 1.346-3.148-.139-1.694-1.471-3.194-2.837-3.175-1.225.017-2.262 1.167-2.4 2.915-.086 1.089.095 2.199.173 3.589-3.446-1.023-4.711-3.525-3.662-7.118zm-12.75-2.251c1.274-1.928 3.197-2.314 5.101-1.024 2.029 1.376 3.547 5.256 2.763 7.576-.285.844-1.127 1.5-1.716 2.241l-.604-.374c-.23-1.253-.276-2.585-.757-3.733-.304-.728-1.257-1.184-1.919-1.762-.622.739-1.693 1.443-1.757 2.228-.088 1.084.477 2.28.969 3.331.311.661 1.001 1.145 1.713 1.916l-1.922 1.51c-3.018-2.7-3.915-8.82-1.871-11.909zM87.34 86.075c-.203 2.604-.5 2.713-3.118 3.098-1.859.272-2.359.756-2.453 2.964a101.744 101.744 0 00-.012 7.753c.061 1.77-.537 3.158-1.755 4.393-6.764 6.856-14.845 10.105-24.512 8.926-4.17-.509-6.896-3.047-9.097-6.639.98-.363 1.705-.607 2.412-.894 3.122-1.27 3.706-3.955 1.213-6.277-1.884-1.757-3.986-3.283-6.007-4.892-1.954-1.555-3.934-3.078-5.891-4.629-1.668-1.323-2.305-3.028-2.345-5.188-.094-5.182.972-10.03 3.138-14.747 1.932-4.209 3.429-8.617 5.239-12.885.935-2.202 1.906-4.455 3.278-6.388 1.319-1.854 2.134-3.669 1.988-5.94-.084-1.276-.016-2.562-.016-3.843l.707-.352c1.141.985 2.302 1.949 3.423 2.959 4.045 3.646 7.892 3.813 12.319.67 1.888-1.341 3.93-2.47 5.927-3.652.497-.294 1.092-.423 1.934-.738 2.151 5.066 4.262 10.033 6.375 15 1.072 2.524 1.932 5.167 3.264 7.547 2.671 4.775 4.092 9.813 4.07 15.272-.012 2.83.137 5.67-.081 8.482z",
    category: "Sistema Operativo",
  },

  {
    title: "Windows",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#1c26b8",
    hoverIconColorandText: "#000",
    svgPath:
      "M67.328 67.331h60.669V128H67.328zm-67.325 0h60.669V128H.003zM67.328 0h60.669v60.669H67.328zM.003 0h60.669v60.669H.003z",
    category: "Sistema Operativo",
  },

  {
    title: "SQL",
    bgColor: "#e3cfcc",
    hoverColor: "#f7f7f7",
    TextColor: "#595959",
    hoverIconColorandText: "#000",
    img: "/SQL_ICON.png",
    category: "Tecnolog칤as",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Recepci칩n 游</title>
    <style>
      :root {
        color-scheme: only light;
      }

      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
      }

      #moon-icon {
        transition:
          fill 0.3s ease,
          box-shadow 0.3s ease,
          stroke 0.3s ease;
        padding: 2px;
        /* A침ade un poco de espacio para el contorno */
        border-radius: 50%;
        /* Opcional: bordes redondeados para el 칤cono */
      }

      #moon-icon.light_mode_moon:hover {
        fill: #4f4dc7;
        stroke: #4f4dc7;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
        /* Ajusta el color y la opacidad del box-shadow */
      }

      .dark_mode_moon {
        fill: #fff;
        stroke: #fff;
      }

      #moon-icon.dark_mode_moon:hover {
        fill: rgb(234, 201, 70);
        stroke: rgb(234, 201, 70);
        box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.479);
        /* Ajusta el color y la opacidad del box-shadow */
      }

      .light_mode_ul_header:hover {
        color: rgb(72, 25, 202);
      }

      .dark_mode_ul_header:hover {
        color: rgb(234, 201, 70);
      }

      .current_light {
        color: #4819ca;
      }

      .current_mobile_light {
        color: #8c73e3;
      }

      .current_dark {
        color: rgb(234, 201, 70);
      }

      .current_mobile_dark {
        color: rgb(234, 201, 70);
      }

      .current_light:hover {
        color: #1815cc;
      }

      .current_dark:hover {
        color: rgb(231, 168, 51);
      }

      .light_hamburger {
        stroke: black;
      }

      .dark_hamburger {
        stroke: white;
      }

      .bg_light {
          background-color: #e7e7e7 ;
          background-image: radial-gradient(closest-side at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(244, 181, 225, 0.5) 100%) ;
      }

      .bg_dark{
          background-color: #28155e ;
          background-image: radial-gradient(closest-side at 50% 50%, hsla(0, 96.5%, 44.9%, 0) 0%, rgba(0, 0, 0, 0.5) 100%) ;
}

      .bg_light_dotted{
        background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
      }

      .bg_dark_dotted {
        background-image: radial-gradient(#0c172d 1px, transparent 1px);
      }
    </style>

    <style>
      .icon-bar {
        display: flex;
        gap: 0.4rem;
        /* Espaciado entre los iconos */
        padding-right: 1rem;
        /* Opcional: a침ade un poco de espacio a la derecha */
      }

      .icon-container {
        position: relative;
        width: 31px;
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .main-icon,
      .external-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease;
      }

      .external-icon {
        opacity: 0;
        pointer-events: none;
      }

      .icon-container:hover .main-icon {
        opacity: 0;
      }

      .icon-container:hover .external-icon {
        opacity: 1;
      }

      .light_inside_title_text {
        color: #4819ca;
      }

      .underline_light {
        text-decoration-color: #f1c943;
      }

      .underline_dark {
        text-decoration-color: #724ef4;
      }

      .dark_inside_title_text {
        color: #ffd350;
      }

      .external_light,
      .paperclip_light {
        stroke: #0d0d0d;
      }

      .external_dark,
      .paperclip_dark {
        stroke: rgb(255, 255, 255);
      }

      .github_light,
      .linkedin_light {
        fill: #0d0d0d;
      }

      .github_dark,
      .linkedin_dark {
        fill: #fff;
      }

      .white_text {
        color: #fff;
      }

      .black_text {
        color: #0d0d0d;
      }
    </style>
  </head>

  <body class="font-CoolVetica font-light">
    <div
    id="background"
    class="fixed top-0 z-[-2] h-screen w-screen rotate-180 transform bg_light"
  >
  </div>
  
  <div
    id="dottedbackground"
    class="fixed top-0 z-[-2] h-screen w-screen rotate-180 transform [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%, #0d0d0d_70%,transparent_100%)]"
  >
  </div>
  

    <header id="header" class="w-full sm:px-6">
      <div class="mx-auto" style="max-width: 54rem;">
        <nav class="flex items-center justify-between py-4 sm:py-6 px-4">
          <!-- Luna a la izquierda -->
          <button onclick="ChangeColors()" class="flex-shrink-0">
            <svg
              class="w-8 h-8 light_mode_moon"
              viewBox="0 0 1024 1024"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              id="moonicon"
              stroke="currentColor"
              stroke-width="27.648000000000003"
            >
              <path
                d="M240.448 240.448a384 384 0 1 0 559.424 525.696 448 448 0 0 1-542.016-542.08 390.592 390.592 0 0 0-17.408 16.384zm181.056 362.048a384 384 0 0 0 525.632 16.384A448 448 0 1 1 405.056 76.8a384 384 0 0 0 16.448 525.696z"
              >
              </path>
            </svg>
          </button>

          <!-- Men칰 a la derecha -->
          <ul
            class="hidden sm:flex sm:flex-row sm:gap-x-8 lg:gap-x-14 text-[#0d0d0d] items-center"
            id="nav"
          >
            <li>
              <a
                href="index.html"
                id="aboutme"
                class="transition-colors light_mode_ul_header current_light"
                >Sobre m칤</a
              >
            </li>
            <li>
              <a
                href="Articulos.html"
                id="articles"
                class="transition-colors light_mode_ul_header">Art칤culos</a
              >
            </li>
            <li>
              <a
                href="Contacto.html"
                id="contact"
                class="transition-colors light_mode_ul_header">Contacto</a
              >
            </li>
          </ul>

          <!-- Men칰 hamburguesa para m칩viles -->
          <button
            class="sm:hidden"
            aria-label="Abrir men칰"
            onclick="toggleMobileMenu()"
          >
            <svg
              class="w-6 h-6 light_hamburger"
              stroke="currentColor"
              viewBox="0 0 24 24"
              id="hamburger_menu"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </nav>

        <!-- Men칰 m칩vil -->
        <div id="mobileMenu" class="hidden sm:hidden">
          <ul
            class="flex flex-col text-[#e7e7e7] bg-[#0000009d] absolute z-10 w-full backdrop-blur"
          >
            <li>
              <a
                href="index.html"
                class="block light_mode_ul_header transition-colors py-4 text-center border-b current_mobile_light"
                id="aboutme_mobile">Sobre m칤</a
              >
            </li>
            <li>
              <a
                href="Articulos.html"
                class="block light_mode_ul_header transition-colors py-4 text-center border-b"
                id="articles_mobile">Art칤culos</a
              >
            </li>
            <li>
              <a
                href="Contacto.html"
                class="block light_mode_ul_header transition-colors py-4 text-center"
                id="contact_mobile">Contacto</a
              >
            </li>
          </ul>
        </div>
      </div>
    </header>

    <script is:inline>
      function toggleMobileMenu() {
        const mobileMenu = document.getElementById("mobileMenu");
        mobileMenu.classList.toggle("hidden");
      }
    </script>
    <main class="max-w-4xl m-auto mt-16" tabindex="-1">
      <div class="ml-6 mr-6">
        <h1
          class="text-5xl sm:text-6xl text-[#0d0d0d] animate-bounce animate-once animate-ease-in-out animate-fill-both flex flex-row gap-x-3 items-center"
          id="title_name"
        >
          <Image
            src={imagen_isaac}
            class="w-20 rounded-full border-2 border-[#4819ca]"
            alt="Foto de perfil de Isaac Garc칤a"
            loading="eager"
          /> Isaac Garc칤a
        </h1>
        <span
          class="inline-flex items-center justify-center px-2 py-1 bg-[#4819ca] rounded text-sm text-stone-100 align-middle max-w-52"
          style="line-height: 1.2"
        >
          <svg
            class="w-4 h-4 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path d="M0 0h24v24H0V0z" fill="none"></path>
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"
            >
            </path>
          </svg>
          <span class="ml-1">춰Disponible para trabajar!</span>
        </span>
        <div class="mt-2">
          <p class="text-2xl" id="title_text">
            <span class="light_inside_title_text" id="inside_title_text"
              >T칠cnico en Administraci칩n de sistemas inform치ticos en red</span
            >. De Madrid, Espa침a. Especializado en crear experiencias <span
              class="underline decoration-wavy decoration-2 underline_light"
              id="unique_underline">칰nicas</span
            >.
          </p>
          <div class="icon-bar mt-1 flex">
            <div class="icon-container">
              <button
                onclick="window.open('https://github.com/Wolfuliam','_blank');"
                type="button"
              >
                <svg
                  class="main-icon github_light"
                  viewBox="0 0 1792 1792"
                  xmlns="http://www.w3.org/2000/svg"
                  id="githubicon"
                  fill="CurrentColor"
                >
                  <path
                    d="M1664 896q0 251-146.5 451.5t-378.5 277.5q-27 5-39.5-7t-12.5-30v-211q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-121-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-86-13.5q-44 113-7 204-79 85-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-40 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 89t.5 54q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  ></path>
                </svg>
                <svg
                  class="external-icon animate-wiggle-more animate-infinite animate-ease-in-out animate-normal animate-fill-both"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="external_light"
                    id="first_external"
                    d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                    stroke="#000000"
                    stroke-width="1.56"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
              </button>
            </div>

            <div class="icon-container">
              <button
                onclick="window.open('https://www.linkedin.com/in/isaac-garc%C3%ADa-dur%C3%A1n-379121310/','_blank');"
                type="button"
              >
                <svg
                  class="main-icon w-5 h-5 linkedin_light"
                  fill="#000000"
                  version="1.1"
                  id="linkedinicon"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 48 48"
                  xml:space="preserve"
                >
                  <style type="text/css">
                    .st0 {
                      fill: none;
                    }
                  </style>
                  <g>
                    <path class="st0" d="M0,0h48v48H0V0z"></path>
                    <path
                      d="M34,4H14C8.5,4,4,8.5,4,14v20c0,5.5,4.5,10,10,10h20c5.5,0,10-4.5,10-10V14C44,8.5,39.5,4,34,4z M17,35h-4V20h4V35z M15,17    c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C17,16.1,16.1,17,15,17z M35,35h-4v-7.5c0-2.5-1-3.6-3-3.6L24,24v11h-4V20l8-0.2    c3.4,0,7,2,7,7.6V35z"
                    ></path>
                  </g>
                </svg>
                <svg
                  class="external-icon animate-wiggle-more animate-infinite animate-ease-in-out animate-normal animate-fill-both w-5 h-5"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="external_light"
                    id="second_external"
                    d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                    stroke="#000000"
                    stroke-width="1.56"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
              </button>
            </div>
            <div class="icon-container">
              <button
                onclick="window.open('Cv_Isaac_Garcia.pdf', '_blank');"
                type="button"
              >
                <svg
                  class="main-icon paperclip_light"
                  viewBox="0 0 24 24"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  id="paperclipicon"
                  aria-labelledby="paperclipIconTitle"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="square"
                  stroke-linejoin="miter"
                  fill="none"
                  color="#000000"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <title id="paperclipIconTitle">CV</title>
                    <path
                      d="M7.93517339,13.7795989 L15.1617306,6.55304173 C16.03921,5.67631227 17.4656766,5.67631227 18.343156,6.55304173 C19.2206355,7.43052116 19.2206355,8.85773771 18.343156,9.73521714 L8.40091248,19.5477137 C6.93619681,21.0124294 4.56325242,21.0124294 3.09853675,19.5477137 C1.63382108,18.083748 1.63382108,15.7093037 3.09853675,14.245338 L12.9335328,4.53783896 C14.9839848,2.48738701 18.3094068,2.48738701 20.3568588,4.53783896 C22.4088107,6.58904088 22.4088107,9.91146301 20.3583588,11.961915 L13.2390491,19.0819746"
                    >
                    </path>
                  </g>
                </svg>
                <svg
                  class="external-icon animate-wiggle-more animate-infinite animate-ease-in-out animate-normal animate-fill-both"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="external_light"
                    id="third_external"
                    d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                    stroke="#000000"
                    stroke-width="1.56"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="mt-10 border-0">
          <h1 class="text-4xl" id="experience_studies">
            Experiencia laboral y Formaci칩n.
          </h1>
          <Timeline items={timelineItems} />
          <h1 class="text-4xl black_text">Habilidades.</h1>
          <Button items={buttonItems} />
        </div>
      </div>
    </main>
    <script is:inline>
      const title_name = document.getElementById("title_name");
      const title_text = document.getElementById("title_text");
      const unique_underline = document.getElementById("unique_underline");
      const inside_title_text = document.getElementById("inside_title_text");
      const first_external = document.getElementById("first_external");
      const second_external = document.getElementById("second_external");
      const third_external = document.getElementById("third_external");
      const githubicon = document.getElementById("githubicon");
      const linkedinicon = document.getElementById("linkedinicon");
      const paperclipicon = document.getElementById("paperclipicon");
      const sidebarstudies = document.getElementById("side-bar-studies");
      const experience_studies = document.getElementById("experience_studies");

      const background = document.getElementById("background");
      const dottedbg = document.getElementById("dottedbackground");
      const moonicon = document.getElementById("moonicon");
      const nav = document.getElementById("nav");
      const aboutme = document.getElementById("aboutme");
      const articles = document.getElementById("articles");
      const contact = document.getElementById("contact");

      const aboutme_mobile = document.getElementById("aboutme_mobile");
      const articles_mobile = document.getElementById("articles_mobile");
      const contact_mobile = document.getElementById("contact_mobile");

      const mobileMenu = document.getElementById("hamburger_menu");

      function body_dark() {

        const current_mobile_light = Array.from(
            document.getElementsByClassName("current_mobile_light")
          );
          background.classList.remove("bg_light");
          background.classList.add("bg_dark");

          dottedbg.classList.remove("bg_light_dotted");
          dottedbg.classList.add("bg_dark_dotted");

          moonicon.classList.add("dark_mode_moon");
          moonicon.classList.remove("light_mode_moon");
          nav.style.color = "#e7e7e7";

          aboutme.classList.add("current_dark");
          articles.classList.add("dark_mode_ul_header");
          contact.classList.add("dark_mode_ul_header");

          aboutme_mobile.classList.add("dark_mode_ul_header");
          articles_mobile.classList.add("dark_mode_ul_header");
          contact_mobile.classList.add("dark_mode_ul_header");

          aboutme.classList.remove("current_light");
          articles.classList.remove("light_mode_ul_header");
          contact.classList.remove("light_mode_ul_header");

          aboutme_mobile.classList.remove("light_mode_ul_header");
          articles_mobile.classList.remove("light_mode_ul_header");
          contact_mobile.classList.remove("light_mode_ul_header");

          mobileMenu.classList.add("dark_hamburger");
          mobileMenu.classList.remove("light_hamburger");

          for (let current_mobile_l of current_mobile_light) {
            current_mobile_l.classList.add("current_mobile_dark");
            current_mobile_l.classList.remove("current_mobile_light");
          }

        const dots = Array.from(document.getElementsByClassName("light_dot"));
        const timespan = Array.from(
          document.getElementsByClassName("light_span")
        );
        const black_text = Array.from(
          document.getElementsByClassName("black_text")
        );
        const black_text_inside = Array.from(
          document.getElementsByClassName("black_text_inside")
        );
        const blue_links = Array.from(
          document.getElementsByClassName("blue_links")
        );
        const suitcaseicon = Array.from(
          document.getElementsByClassName("suitcaseicon_light")
        );
        const bookicon = Array.from(
          document.getElementsByClassName("bookicon_light")
        );

        title_name.style.color = "#e7e7e7";
        title_text.style.color = "#e7e7e7";

        inside_title_text.classList.add("dark_inside_title_text");
        inside_title_text.classList.remove("light_inside_title_text");

        unique_underline.classList.add("underline_dark");
        unique_underline.classList.remove("underline_light");

        first_external.classList.add("external_dark");
        second_external.classList.add("external_dark");
        third_external.classList.add("external_dark");

        first_external.classList.remove("external_light");
        second_external.classList.remove("external_light");
        third_external.classList.remove("external_light");

        githubicon.classList.add("github_dark");
        githubicon.classList.remove("github_light");

        linkedinicon.classList.add("linkedin_dark");
        linkedinicon.classList.remove("linkedin_light");

        paperclipicon.classList.add("paperclip_dark");
        paperclipicon.classList.remove("paperclip_light");

        experience_studies.style.color = "#e7e7e7";

        const dotsCopy = [...dots];
        for (let dot of dotsCopy) {
          dot.classList.remove("light_dot");
          dot.classList.add("dark_dot");
        }

        for (let time of timespan) {
          time.classList.remove("light_span");
          time.classList.add("dark_span");
        }

        for (let black of black_text) {
          black.classList.add("white_text");
          black.classList.remove("black_text");
        }

        for (let black_inside of black_text_inside) {
          black_inside.classList.add("white_text_inside");
          black_inside.classList.remove("black_text_inside");
        }

        sidebarstudies.style.borderColor = "#fff";

        for (let blue_link of blue_links) {
          blue_link.classList.remove("blue_links");
          blue_link.classList.add("dark_blue_links");
        }

        for (let suitcase of suitcaseicon) {
          suitcase.classList.remove("suitcaseicon_light");
          suitcase.classList.add("suitcaseicon_dark");
        }

        for (let book of bookicon) {
          book.classList.remove("bookicon_light");
          book.classList.add("bookicon_dark");
        }
      }

      function body_light() {

        const current_mobile_dark = Array.from(
            document.getElementsByClassName("current_mobile_dark")
          );
          background.classList.remove("bg_dark");
          background.classList.add("bg_light");

          dottedbg.classList.remove("bg_dark_dotted");
          dottedbg.classList.add("bg_light_dotted");

          moonicon.classList.add("light_mode_moon");
          moonicon.classList.remove("dark_mode_moon");
          nav.style.color = "#0d0d0d";

          aboutme.classList.remove("current_dark");
          articles.classList.remove("dark_mode_ul_header");
          contact.classList.remove("dark_mode_ul_header");

          aboutme_mobile.classList.remove("dark_mode_ul_header");
          articles_mobile.classList.remove("dark_mode_ul_header");
          contact_mobile.classList.remove("dark_mode_ul_header");

          aboutme.classList.add("current_light");
          articles.classList.add("light_mode_ul_header");
          contact.classList.add("light_mode_ul_header");

          aboutme_mobile.classList.add("light_mode_ul_header");
          articles_mobile.classList.add("light_mode_ul_header");
          contact_mobile.classList.add("light_mode_ul_header");

          mobileMenu.classList.remove("dark_hamburger");
          mobileMenu.classList.add("light_hamburger");

          for (let current_mobile_d of current_mobile_dark) {
            current_mobile_d.classList.remove("current_mobile_dark");
            current_mobile_d.classList.add("current_mobile_light");
          }

        const dots = Array.from(document.getElementsByClassName("dark_dot"));
        const timespan = Array.from(
          document.getElementsByClassName("dark_span")
        );
        const white_text = Array.from(
          document.getElementsByClassName("white_text")
        );
        const white_text_inside = Array.from(
          document.getElementsByClassName("white_text_inside")
        );
        const blue_links = Array.from(
          document.getElementsByClassName("dark_blue_links")
        );
        const suitcaseicon = Array.from(
          document.getElementsByClassName("suitcaseicon_dark")
        );
        const bookicon = Array.from(
          document.getElementsByClassName("bookicon_dark")
        );

        title_name.style.color = "#0d0d0d";
        title_text.style.color = "#0d0d0d";

        inside_title_text.classList.add("light_inside_title_text");
        inside_title_text.classList.remove("dark_inside_title_text");

        unique_underline.classList.add("underline_light");
        unique_underline.classList.remove("underline_dark");

        first_external.classList.remove("external_dark");
        second_external.classList.remove("external_dark");
        third_external.classList.remove("external_dark");

        first_external.classList.add("external_light");
        second_external.classList.add("external_light");
        third_external.classList.add("external_light");

        githubicon.classList.remove("github_dark");
        githubicon.classList.add("github_light");

        linkedinicon.classList.remove("linkedin_dark");
        linkedinicon.classList.add("linkedin_light");

        paperclipicon.classList.add("paperclip_light");
        paperclipicon.classList.remove("paperclip_dark");

        experience_studies.style.color = "#0d0d0d";

        const dotsCopy = [...dots];
        for (let dot of dotsCopy) {
          dot.classList.add("light_dot");
          dot.classList.remove("dark_dot");
        }

        for (let time of timespan) {
          time.classList.add("light_span");
          time.classList.remove("dark_span");
        }

        for (let white of white_text) {
          white.classList.add("black_text");
          white.classList.remove("white_text");
        }

        for (let white_inside of white_text_inside) {
          white_inside.classList.add("black_text_inside");
          white_inside.classList.remove("white_text_inside");
        }

        sidebarstudies.style.borderColor = " #0d0d0d";

        for (let blue_link of blue_links) {
          blue_link.classList.add("blue_links");
          blue_link.classList.remove("dark_blue_links");
        }

        for (let suitcase of suitcaseicon) {
          suitcase.classList.add("suitcaseicon_light");
          suitcase.classList.remove("suitcaseicon_dark");
        }

        for (let book of bookicon) {
          book.classList.add("bookicon_light");
          book.classList.remove("bookicon_dark");
        }
      }

      let isOriginalColor = true;
      window.onload = function () {
        const savedTheme = localStorage.getItem("theme");

        if (savedTheme === "dark") {
          body_dark(); // Aplicar tema oscuro
          isOriginalColor = false; // Asegurarse de que el bot칩n funcione correctamente
        } else {
          body_light(); // Aplicar tema claro
          isOriginalColor = true; // Asegurarse de que el bot칩n funcione correctamente
        }
      };

      function ChangeColors() {

        if (isOriginalColor) {

          body_dark();
          localStorage.setItem("theme", "dark"); // Guardar estado oscuro

        } else {

          body_light();
          localStorage.setItem("theme", "light");
        }

        isOriginalColor = !isOriginalColor;
      }
    </script>
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
