<section class="max-w-4xl mx-auto px-4 pt-12 font-CoolVetica">
  <h2 class="text-4xl text-center mb-8 white_text">¡Contacta conmigo!</h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class=" block_white_mode p-6 rounded-lg flex flex-col items-center mt-5">
        <svg class="w-8 h-8" fill="#fff" stroke="black" stroke-width="35px" style="overflow: inherit;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 395.71 395.71" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738 c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388 C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191 c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z"></path> </g> </g></svg>
        <p class="text-center white_text">C. de la Igualdad, 1 28942 Fuenlabrada, Madrid
        </p>
    </div>
    
    <div class="block_white_mode p-6 rounded-lg flex flex-col items-center md:mb-5">
        <svg class="w-8 h-8" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 5V9M15 9L19 9M15 9L21 3M18.5 21C9.93959 21 3 14.0604 3 5.5C3 5.11378 3.01413 4.73086 3.04189 4.35173C3.07375 3.91662 3.08968 3.69907 3.2037 3.50103C3.29814 3.33701 3.4655 3.18146 3.63598 3.09925C3.84181 3 4.08188 3 4.56201 3H7.37932C7.78308 3 7.98496 3 8.15802 3.06645C8.31089 3.12515 8.44701 3.22049 8.55442 3.3441C8.67601 3.48403 8.745 3.67376 8.88299 4.05321L10.0491 7.26005C10.2096 7.70153 10.2899 7.92227 10.2763 8.1317C10.2643 8.31637 10.2012 8.49408 10.0942 8.64506C9.97286 8.81628 9.77145 8.93713 9.36863 9.17882L8 10C9.2019 12.6489 11.3501 14.7999 14 16L14.8212 14.6314C15.0629 14.2285 15.1837 14.0271 15.3549 13.9058C15.5059 13.7988 15.6836 13.7357 15.8683 13.7237C16.0777 13.7101 16.2985 13.7904 16.74 13.9509L19.9468 15.117C20.3262 15.255 20.516 15.324 20.6559 15.4456C20.7795 15.553 20.8749 15.6891 20.9335 15.842C21 16.015 21 16.2169 21 16.6207V19.438C21 19.9181 21 20.1582 20.9007 20.364C20.8185 20.5345 20.663 20.7019 20.499 20.7963C20.3009 20.9103 20.0834 20.9262 19.6483 20.9581C19.2691 20.9859 18.8862 21 18.5 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      <p class="text-center white_text">682 714 572</p>
    </div>
    
    <div class="block_white_mode p-6 rounded-lg flex flex-col items-center md:mt-5">
        <svg class="w-10 h-10" viewBox="0 0 24 24" fill="#fff   " xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11.5947 19H6.2C5.07989 19 4.51984 19 4.09202 18.782C3.71569 18.5903 3.40973 18.2843 3.21799 17.908C3 17.4802 3 16.9201 3 15.8V8.2C3 7.0799 3 6.51984 3.21799 6.09202C3.40973 5.71569 3.71569 5.40973 4.09202 5.21799C4.51984 5 5.0799 5 6.2 5H17.8C18.9201 5 19.4802 5 19.908 5.21799C20.2843 5.40973 20.5903 5.71569 20.782 6.09202C21 6.51984 21 7.0799 21 8.2V12M20.6067 8.26229L15.5499 11.6335C14.2669 12.4888 13.6254 12.9165 12.932 13.0827C12.3192 13.2295 11.6804 13.2295 11.0677 13.0827C10.3743 12.9165 9.73279 12.4888 8.44975 11.6335L3.14746 8.09863M18 13.5L19.4107 15.5584L21.8042 16.2639L20.2825 18.2416L20.3511 20.7361L18 19.9L15.6489 20.7361L15.7175 18.2416L14.1958 16.2639L16.5893 15.5584L18 13.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>      
        <p class="text-center white_text">isaacgarciaduran45@gmail.com</p>
    </div>  
  </div>
  <div class="relative">
    <h1 style=" position: absolute;
  z-index: 222;
  left: 50%;               
  top: 50%;                
  transform: translate(-50%, -50%);" class="w-full text-center text-6xl text-[#db3333] italic">Inhabilitado por spam, contactar por otros medios.</h1>
  <div style="filter: blur(6px);">
    <form class="mt-12 contact_form_white white_text p-8 rounded-lg shadow-lg">
        <h3 class="text-2xl mb-6 text-center form_white_text">Envíame un mensaje</h3>
        <div class="mb-6">
            <label for="name" class="block mb-2 text-sm font-medium white_text">Nombre</label>
            <input type="text" id="name" name="name" class="w-full px-3 py-2 border bg-[#ffffffad] border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" required disabled>
        </div>
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium white_text">Email</label>
            <input type="email" id="email" name="email" class="w-full px-3 py-2 border bg-[#ffffffad] border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" required disabled>
        </div>
        <div class="mb-6">
            <label for="message" class="block mb-2 text-sm font-medium white_text">Mensaje</label>
            <textarea id="message" name="message" rows="4" class="w-full px-3 py-2 border bg-[#ffffffad] border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" required disabled></textarea>
        </div>
        <div class="flex justify-center">
            <button type="submit" class="px-6 py-3 bg-[rgb(107,100,238)] text-white font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-colors duration-300" disabled>
                Enviar Mensaje
            </button>
        </div>
    </form></div>   
    </div>

</section>

<style>
    .white_text {
      color: #fff;
    }
  
    .black_text {
      color: #0d0d0d;
    }

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.contact_form_white {
    position: relative;
    background: rgba(79, 45, 170, 0.79);
    overflow: hidden;

    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

.contact_form_black {    
    background: #fffdf5d1;
    position: relative;
    overflow: hidden;
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

.block_dark_mode{
    background-color: #fbc01dda;
}

.block_white_mode{
    background-color: #8f40f5be;
}

  </style>