@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
      font-family: 'CoolVetica';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/FONTS/coolvetica.woff2") format('woff2');
    }
  }